<footer class="tp-footer">
  <div class="footer-content">

    <h2>
      LENGUAJE AUDIOVISUAL Y MUNDO CONTEMPORÁNEO I
    </h2>

    <!-- CONTENEDOR DE COLUMNAS -->
    <div class="footer-columns">

      <!-- IZQUIERDA -->
      <div class="footer-section">
        <p>
          <strong>Comisión:</strong>
          JUAN PABLO JOSÉ BALSELLS
        </p>

        <p>
          <strong>Docente:</strong>
          Katia Zaccanti
        </p>

        <p>
          <strong>Autor utilizado:</strong>
          Richard Kalvar
        </p>

        <p>
          <strong>Tópico:</strong>
          Deshumanización digital
        </p>

        <p>
          <strong>Año:</strong>
          2026
        </p>
      </div>

      <!-- DERECHA -->
      <div class="footer-section">
        <h3>
          Grupo del Trabajo Práctico
        </h3>

        <ul>
          <li>MARTINEZ SCHLOTTHAUER, LUNA CHIARA</li>
          <li>MOLINO, GUILLERMO NICOLAS</li>
          <li>PELLEGRINI, JULIÁN MAURO</li>
          <li>RIVERO PALMA, IÑAKI MANUEL</li>
          <li>ROSALES, SOFIA NAHIR</li>
          <li>VALENZUELA COSENZO, CATALINA</li>
        </ul>
      </div>

    </div>

  </div>
</footer>
